[submodule "tidb-bench"]
	path = tidb-bench
	url = https://github.com/ysicing/tidb-bench-docker.git
[submodule "buildpack-nginx"]
	path = buildpack-nginx
	url = https://github.com/ysicing/buildpack-nginx.git
