0.0.0.0
gzip
cache
prometheus

errors {
    * /etc/404.html
}

header / {
    X-Via UKS
    Strict-Transport-Security "max-age=31536000;includeSubDomains;preload"
    -Server
}

root /srv/

fastcgi / 127.0.0.1:9000 php

on startup php-fpm7

log stdout

errors stdout